@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&display=swap');
* {
    font-family: 'Noto Sans NKo', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav .nav-links {
    display: flex;
    list-style: none;
}

.nav .nav-links .nav-link {
    padding: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.container {
    padding: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 4rem;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 1.5rem;
}

.container form input[type='text'] {
    width: 400px;
    border-radius: 25px;
    border: 1px solid grey;
    padding: 10px 15px;
    background-color: #202124;
    color: #FFFFFF;
    font-size: 1rem;
}

.container form input[type='text']:focus {
    outline: none;
    background-color: #303134;
}

.container form input[type='text']:hover {
    background-color: #303134;
}

.container form .btn-container {
    text-align: center;
}

.container form input[type='submit'] {
    align-self: center;
    width: auto;
    margin: 2em 0;
    background-color: #303134;
    border: 1px solid #303134;
    padding: 8px 15px;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
}

.container form input[type='submit']:hover {
    border: 1px solid grey;
}

.container form .form-division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: .7em;
}

.container form .form-division .adv-input {
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    color: #bdc1c6;
}
.container form .form-division label {
    font-size: 13px;
    color: #bdc1c6;
}

.container form .form-division .adv-input:focus {
    outline: 1px solid rgb(138, 180, 248);
    background-color: #202124;
}

.container form #adv-btn {
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    border-radius: 2px;
    cursor: auto;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.container form #adv-btn:hover {
    background: #aecbfa;    
}